<mat-toolbar
  class="fxLayou dark app-toolbar"
  style="width: 100%;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: ghostwhite;">

<div class="fxLayout" style="flex-direction: row; align-items: center;">
  <mat-icon>nature</mat-icon>
  <span>&nbsp;KASAT FAIR</span>
</div>
<div>
  <button mat-flat-button style="background-color: black; color: ghostwhite;">
    Home
  </button>
  <button mat-flat-button
  [mat-menu-trigger-for]="menu"
  style="background-color: black; color: ghostwhite;">
    List
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/main">Zones</button>
    <button mat-menu-item routerLink="/booths">Booths</button>
  </mat-menu>
  <button mat-flat-button style="background-color: black;color: ghostwhite;">
    Bookings
  </button>
  <button mat-flat-button
  [mat-menu-trigger-for]="menu"
  style="background-color: black; color: ghostwhite;">
    Profile
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/viewprofile">View</button>
    <button mat-menu-item routerLink="/logout">Logout</button>
  </mat-menu>

</div>
</mat-toolbar>